body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-image: url('./images/sw-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* 🔥 */
  background-position: center;
  overflow-x:hidden ; 
  }; 